* {
	font-family: 'Raleway', sans-serif;
}
html,body {
	height:100%;
}
body {  
  left: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  color:black;
  
}

#cover {
    background: grey url('img/top1.jpg') center center no-repeat;
    background-size: cover;   
    height: 100%;
	font-weight: 500;
	min-height: 600px;
}


#cover-caption {
    width:100%;
}


img {
    max-width: 100%;	
}


/* Initial menu */
.menu {
  background: darkred;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.menu ul {
 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 7px;
  text-transform: uppercase;
	
	
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}


.icon-menu {

  color: black;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px
}

.icon-menu i {
	
  margin-right: 5px;
}


.title {
	text-align: center;
	padding: 10px;
	border: 5px solid black;
	max-width: 50%;
	margin-bottom: 5%;
	letter-spacing: 13px;
}
.content {
 margin:15%;
}

section {
	margin-bottom: 150px;
}

.aboutSection img {
	
	
	width:100%;
	height:600px;
	object-fit: cover;
	
	
}
.aboutText {
	
	color:white;
	height:600px;	
}

.text > h4 {
	
	font-size: 3.3rem;
	text-align: right;
    max-width: 150px;
    min-height: 60px;
	padding-bottom: 5px;
	border-bottom: 3px solid white;
}

.text > p {
	    position: relative;
    margin-left: 170px;
    margin-top: -33px;
}


.aboutSection {
	margin:0;
		
	
	
}
.text {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    max-width: 520px;
    margin: auto;
}
.aboutCol {

	background-color: darkred;
	padding:0;
	overflow: hidden;
	
	
	
}


h3 { 
   position: absolute; 
   top:71%; 
	left:10%;
 	color:white;
   	width: 100%; 
	padding: 20px;
	opacity:0.8;
	background-color: rgba(0, 0, 0, 0.8);
	font-size:1.5rem;
	
	
	
}
h3:hover {
	
 transition: all .6s ease-in-out; 
 transform: scale(1.1); 
 opacity: 0.8;
	
}


.gallery img{
	
	object-fit: cover;
	height:300px;
	width: 100%;
}

.gallery {
	margin-bottom:30px;
}

.register {
	text-align: center;
	
}

.register h4 {
	font-size:3.5rem;
	margin-top: 5%;
	border-bottom:1px solid black;
	width:200px;
	margin:0 auto;
	
	
}

.register p {
	margin:5% 20%;
}
button {
	
	
}

#registerSection {
	height:100%;
	
    background-size: cover;   
   	display: flex;
	align-items:flex-start;
	font-weight: 500;
}

.active {
	
	display:none;
	width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background: #111;
	opacity:0.95;
	color:white;
	height:100vh;	
}

.active  ul {
	
	
}

.active  li {
	font-size: 2rem;
	list-style-type: none;
}
